C:\Users\MeesalaMrYeswanthKum\Desktop\GenAI\marketing\email_checker\credentials.json

C:\Users\MeesalaMrYeswanthKum\Desktop\GenAI\marketing\email_checker\token.json

C:\Users\MeesalaMrYeswanthKum\Desktop\GenAI\marketing\marketingflow\.env